# Compilações e Binários
bin/
*.class

# Arquivos de IDE
.idea/
*.iml
.vscode/
.settings/

# Banco de dados local (Não enviar para o GitHub)
data/estoque.csv
data/vendas.csv
data/vendas_itens.csv
data/product_images/*
!data/product_images/.gitkeep